body {
	background-color: #FFDBB8;
}

header {
	border: 2px solid;
	color:orange;
	padding: 20px;
	display: block;
	margin: 2px;
	/*background-color: orange;*/

}
aside {
	border: 2px solid;
	color: yellow;
	padding: 20px;
	float:left;
	width: 20%;
	height: 200px;
	display: block;
	margin: 2px;
	/*background-color: yellow;*/
}
section {
	border: 2px solid;
	color:navy;
	padding: 20px;
	float:right;
	width: 70%;
	height: 200px;
	display: block;
	margin: 2px;
	/*background-color: navy;*/
}
footer {
	border: 2px solid;
	color:green;
	padding: 20px;
	display: block;
	clear: both;
	margin: 2px;
	/*background-color: green;*/
}

.logo {
	border: 2px solid;
	color:pink;
	padding: 20px;
	display: block;
	float:left;
}
nav.logo {
	
	color:red;
	float:right;
}
.logo:before
.logo:after {
	content:"";
	display: table;

}
.logo:after {
	clear: both;
}
.logo {
	clear:both;
}