/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {
	float: left;
	width:100%;
}
.logo {
	float: left;
}
.navigation {
	float: right;
}
.main-content {
}
/* hint! */

.post {
}
.post:after {
	display: block;
	content: "";
	clear: both;
}
/* hint! */

.image {
	float: left;
	width: 25%;
}
.image img {
	min-height: 200px;
	max-height: 300px;
}

.post_excerpt {
	float: left;
	width: 75%;
	min-height: 200px;

}
