/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.container {
	width: 80%;
	margin: 0 auto;
}
.container:after {
	content: " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia deserunt ab, necessitatibus voluptatibus rerum similique sed perspiciatis vero libero animi. Numquam dignissimos, qui illum doloribus hic est officiis, culpa quam.";
  border:1px solid black;
  display: block;
  clear: both;
  visibility:hidden;
  height: 0;
}

.header {
	
	width: 100%;
	margin: 0 auto;
}


.sidebar {
	float: left;
	width: 30%;
	
}

.main-content {
	float: left;
	width: 70%;
	
}

.footer {
	clear: both;
	width: 100%;
	margin: 0 auto;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */